fastapi
pydantic
langchain
crewai==0.159.0
selenium
lxml
scrapy
beautifulsoup4
pymupdf
groq
llama-cpp-python
google-generativeai==0.8.5
spacy==3.8.7
langchain-community==0.3.27
pydantic-settings
pinecone
langchain-google-genai
xml-python
pytest
# python -m spacy download en_core_web_sm
# pip install firecrawl-py
